---
    name: Build
    
    on:
        push:
    
    jobs:
        build:
            runs-on: ubuntu-latest
            timeout-minutes: 30
    
            steps:
                - uses: actions/checkout@v4
                - name: install uv
                  uses: astral-sh/setup-uv@v6
                  with:
                    enable-cache: true
                - name: Run pre-commit
                  run: |
                    uvx pre-commit run --show-diff-on-failure --color=always --all-files
                - name: Build environment
                  run: |
                    uv lock --locked
                    uv build
                    uv sync --all-groups --all-extras
                    uv run mypy src --strict
                    uv run pytest -s tests